<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Servletproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationFormservlet</display-name>
    <servlet-name>RegistrationFormservlet</servlet-name>
    <servlet-class>com.suri.servlet.RegistrationFormservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationFormservlet</servlet-name>
    <url-pattern>/RegistrationFormservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.suri.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.suri.servlet.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginvalidation</display-name>
    <servlet-name>loginvalidation</servlet-name>
    <servlet-class>com.suri.servlet.loginvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginvalidation</servlet-name>
    <url-pattern>/loginvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteservlet</display-name>
    <servlet-name>Deleteservlet</servlet-name>
    <servlet-class>com.suri.servlet.Deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteservlet</servlet-name>
    <url-pattern>/Deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.suri.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>